

<div class="center hero-unit">
	<br/>
	<br/>
  <h1><center>Welcome to Ruby on Rails !!!</center></h1>

  <h2>
    <i><center>This is my first web application developed using Ruby on Rails</center></i>
  </h2>

  <h3>
    <center>Ruby on Rails is doing Magic !!!</center>
  </h3>
<br/>
  <%= link_to "Sign up now !", '/users/new', class: "btn btn-large btn-primary button" %>
</div>
